.slider-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;


}
.slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide{
    width: 100%;
    flex: 0 0 auto;



}
img{
    width: 100%;
    display: block;
}
.prev, .next{
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(239, 11, 11, 0.5);



}